
#rightSideMenu{
    /* width:100%; */
    /* flex: 0.3; */
    width: 67vw;
    min-height: 100vh;
    background: rgb(12, 167, 128);
    border-radius:20px;
    /* display: inline; */
    margin-left: 5px;
    margin-right: 10px;
  }

  #input-box-right{
    /* display: flex; */
    flex: 1;
    width: 90%;
    /* max-width: 100%; */
    background: transparent;
    border: none;
    outline: none;
    padding: 10px 10px 10px 10px;
    font-size: 13px;
    /* margin: 2px 10px 2px 10px; */
    margin-top: 10px;
    justify-content: space-between;
    background: coral;
    border-radius: 10px;
  }

  
.rightComp li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
} 

.rightComp li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50px;
  /* background-image: url(images/box.png); */
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
} 

.rightComp li.checked{
  color: black;
  text-decoration: line-through;
} 

 /* .rightComp li.checked::before{
  background-image: url(images/check-box.png);
}  */

.rightComp_listDiv {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-around; */
  margin: 5px;

}

.check{
  font-size: 30px;
}

 .rightComp li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: rgb(67, 19, 155);
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
} 

 .rightComp li span:hover{
  background: #4e085f;
}    

.rightComp_listDiv{
  display: flex;
  justify-content: space-between;
}

.rightComp_button{
  padding: 10px;
  margin: 10px;
  background-color: red;
  color: white;
  cursor: pointer;

}

.rightComp_button:hover{
  background-color: orange;
  font-weight: bold;

}